<h3>Author</h3>

<% if @author.errors.any? %>
  <div class="errors">
    <% @author.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>
<% end %>

<%= form_for @author do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <button class="btn btn-success" type="submit">Save</button>
<% end %>
